<%- model_class = Purchase -%>
<%= link_to "Add Purchase",
            new_purchase_path,
            :class => 'btn btn-primary pull-right' %>
<table class="table table-striped" id='purchases'>
  <%= render partial: 'table' %>
</table>

